@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@0;1&family=Saira+Condensed:wght@100;200;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3{
    font-family: 'Philosopher', sans-serif;
}

body{
  font-family: 'Saira Condensed', sans-serif;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(225,255,255,0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #393939;
}
